/*!
 * Formulario
 *
 * Sistema de Registro de Asistencia y Temas
 *
 * (c) Universidad Tecnológica Nacional - Facultad Regional Delta
 *
 * Este archivo está sujeto a los términos y condiciones descritos
 * en el archivo LICENCIA.txt que acompaña a este software.
 *
 * @author Jorge Alberto Cricelli <jacricelli@gmail.com>
 */

form {
	padding: 0 0 10px;
}

form > ul {
	margin-bottom: 20px;
	margin-left: 15px;

	list-style: square;
}

form > ul li {
	margin-bottom: 3px;
}

form > ul .highlight {
	color: #9932cc;
}

textarea {
	resize: none;
}

.form-vertical textarea + .help-inline {
	display: block;

	padding-top: 3px;
	padding-left: 2px;
}

span.required {
	font-size: 1.3em;

	position: relative;
	z-index: 1;
	top: 5px;

	padding-right: 3px;

	color: #f00;
}

.help-inline {
	padding-left: 5px;
}

.help-block {
	margin-top: 5px;
}

label span.required {
	top: 4px;

	padding-left: 2px;
}

.control-group > label {
	margin-bottom: 4px;
}

.control-group > fieldset {
	padding-bottom: 5px;
}

.control-group > fieldset > legend {
	margin-bottom: 10px;
}

.controls input[type='radio'] {
	margin-bottom: 10px;
}

.controls input[type='radio'] + label {
	position: relative;
	top: -1px;

	display: inline;

	margin-left: 10px;
}

.controls .checkbox + .help-block {
	padding-top: 10px;
}

.form-vertical input,
.form-vertical select,
.form-vertical textarea {
	margin-bottom: 0;
}

.form-vertical .control-group {
	margin-bottom: 25px;
}

.form-vertical .control-group > label {
	width: 170px;
}

.form-vertical .controls textarea + .help-inline {
	vertical-align: bottom;
}

.form-vertical .checkbox-control {
	margin-bottom: 20px;
}

.form-vertical .checkbox-control > label {
	margin-bottom: 0;
}

.form-vertical .checkbox-control > .controls > input {
	margin-top: 0;
}

.form-vertical .checkbox-control p.help-inline {
	margin: 0;

	cursor: pointer;
}

fieldset + .form-actions {
	margin-top: 50px;
}

.form-actions {
	margin: auto -20px;

	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	background: #f8f8f8;
}

.form-actions button,
.form-actions a {
	margin-right: 10px;
}
