/*!
 * Diseño
 *
 * Sistema de Registro de Asistencia y Temas
 *
 * (c) Universidad Tecnológica Nacional - Facultad Regional Delta
 *
 * Este archivo está sujeto a los términos y condiciones descritos
 * en el archivo LICENCIA.txt que acompaña a este software.
 *
 * @author Jorge Alberto Cricelli <jacricelli@gmail.com>
 */

/*csslint adjoining-classes:false, overqualified-elements:false */

@font-face {
	font-family: 'Open Sans';
	font-weight: 400;
	font-style: normal;

	src: url('../fonts/OpenSans.eot?#iefix') format('embedded-opentype'),
	url('../fonts/OpenSans.woff') format('woff'),
	url('../fonts/OpenSans.ttf') format('truetype'),
	url('../fonts/OpenSans.svg#OpenSans') format('svg');
}

@font-face {
	font-family: 'Raleway';
	font-weight: 400;
	font-style: normal;

	src: url('../fonts/Raleway.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Raleway.woff') format('woff'),
	url('../fonts/Raleway.ttf') format('truetype'),
	url('../fonts/Raleway.svg#Raleway') format('svg');
}

body {
	background: #eef2ea;
}

.strong {
	font-weight: bold;
}

@media (max-width: 979px) {
	body .navbar .navbar-inner .brand {
		margin-left: -20px;
	}
}

@media (max-width: 1322px) {
	.navbar {
		width: 1342px;
	}

	.page-container {
		width: 1322px;
	}
}

.page-wrapper {
	z-index: 1;
}

.navbar {
	margin-bottom: 0;

	border-bottom: 1px solid #d0d5cb;
	background: #fff;
	box-shadow: 0 1px 4px rgba(0,0,0,.065);
}

.navbar-inner {
	width: 1302px;
	min-height: 50px;
	margin: 0 auto;

	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	background-color: #fff;
	background-image: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;

	filter: none;
}

.navbar .navbar-inner .brand {
	font-family: 'Raleway';

	padding: 15px 5px 10px 20px;
}

.navbar .navbar-inner .nav > li > a {
	padding: 15px;

	color: #0096bb;
}

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
	color: #75796f;
	background-color: #eef2ea;
}

.navbar .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar .nav li.dropdown.open.active > .dropdown-toggle .caret,
.navbar .nav li.dropdown > a:hover .caret,
.navbar .nav li.dropdown > a:focus .caret {
	border-top-color: #75796f;
	border-bottom-color: #75796f;
}

.navbar .nav li.dropdown > .dropdown-toggle .caret {
	border-top-color: #0096bb;
	border-bottom-color: #0096bb;
}

.navbar .navbar-inner .pull-right > li.divider-vertical {
	margin-top: 3px;
	padding-top: 4px;

	border-left: 1px dotted #d0d5cb;
}

.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
	color: #75796f;
	background-color: #eef2ea;
}

.navbar .navbar-inner .dropdown-menu {
	margin-top: 0;

	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.page-container {
	width: 1302px;
	margin: 38px auto 30px;
	padding: 0 15px 15px;
}

.crumbs {
	font-size: 1.1em;

	padding-top: 0;
}

.breadcrumb {
	float: left;

	margin: 0;
	padding: 0;

	border-radius: 0;
	background: none;
}

.breadcrumb > li > .divider {
	color: #75796f;
}

.breadcrumb > .active {
	color: #0b1902;
}

.date {
	float: right;

	letter-spacing: 1px;

	color: #005580;
	text-shadow: 0 1px 0 #fff;
}

.page-content {
	min-height: 550px;
	margin: 1px 0;
	padding: 0 15px 15px;

	border: 1px solid #d0d5cb;
	background: #fff;
	box-shadow: 0 2px 6px rgba(100, 100, 100, .3);
}

.page-header {
	font-family: 'Open Sans';
	font-weight: normal;
	line-height: 35px;

	margin-top: 15px;
	margin-bottom: 20px;
	padding-bottom: 2px;

	border-bottom: 1px dotted #d8d8d8;
}

.page-tasks {
	float: right;

	margin-top: 17px;
	margin-bottom: 0;
}

.page-tasks > li > a {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.page-tasks .dropdown-menu {
	right: 0;
	left: auto;

	margin-top: 1px;

	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.nav > li > a:hover,
.nav > li > a:focus {
	color: #75796f;
	background-color: #eef2ea;
}

.nav-tabs .open .dropdown-toggle,
.nav-pills .open .dropdown-toggle,
.nav > li.dropdown.open.active > a:hover,
.nav > li.dropdown.open.active > a:focus {
	color: #75796f;
	background-color: #eef2ea;
}

.nav li.dropdown.open .caret,
.nav li.dropdown.open.active .caret,
.nav li.dropdown.open a:hover .caret,
.nav li.dropdown.open a:focus .caret,
.nav .dropdown-toggle:hover .caret,
.nav .dropdown-toggle:focus .caret {
	border-top-color: #75796f;
	border-bottom-color: #75796f;
}

.page-view {
	padding: 0 5px;

	color: #202020;
}
