/*!
 * Inicio de sesión
 *
 * Sistema de Registro de Asistencia y Temas
 *
 * (c) Universidad Tecnológica Nacional - Facultad Regional Delta
 *
 * Este archivo está sujeto a los términos y condiciones descritos
 * en el archivo LICENCIA.txt que acompaña a este software.
 *
 * @author Jorge Alberto Cricelli <jacricelli@gmail.com>
 */

.breadcrumb,
.page-header {
	display: none;
}

.page-content {
	padding: 0;

	background: url('../img/app/login.jpg') no-repeat;
}

.page-content form {
	position: relative;
	top: 268px;
	right: 60px;

	float: right;
}

.page-content form label {
	font-size: 14px;
	font-weight: bold;

	color: #fff;
}

.page-content form .control-group {
	margin-bottom: 20px;
}

.page-content form label .required {
	display: none;
}

.page-content form input {
	font-family: 'Open Sans';
	font-size: 24px;

	width: 250px;
	height: auto;

	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.page-content form button {
	font-size: 13px;
	font-weight: bold;

	position: relative;

	float: right;
}
